@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

*{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.bg-light {
    background-color: white!important;
}

.nav-item {
    font-weight: 400;
}

#copyright {
    font-weight: 300;
}

.redbar {
    color: #E21D38;
}

.navbar-collapse collapse show .redbar {
    display: none;
}


